<!DOCTYPE html>
<html lang="en">
    {% extends 'aensonga/base.html' %}
    {% load static %}

    <body>
        {% block content %}
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Popular Causes</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Causes</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>What We Do?</p>
                <h2>We believe that we can save more lifes with you</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-diet"></i>
                        </div>
                        <div class="service-text">
                            <h3>Clean Environment Campaign</h3>
                            <p>The Clean Environment Campaign is dedicated to promoting environmental sustainability
                                and raising awareness about the importance of a clean and healthy environment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-water"></i>
                        </div>
                        <div class="service-text">
                            <h3>Clean Water</h3>
                            <p>The Clean Water Initiative is committed to providing sustainable access to clean water,
                                strives to improve the health and well-being of communities through water sanitation
                                projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-healthcare"></i>
                        </div>
                        <div class="service-text">
                            <h3>Health Care</h3>
                            <p>The A-EnsongaHearts Health Care Initiative is dedicated to delivering
                                accessible and quality healthcare services to underserved communities,
                                promoting well-being and improving overall health outcomes</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Primary Education</h3>
                            <p>A-EnsongaHearts Educational Program is dedicated to ensuring inclusive and quality
                                education for all, particularly in underserved communities,
                                to empower children with the foundational knowledge and skills for a brighter future.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>Mentorship</h3>
                            <p>
                                The Mentorship Program is designed to empower individuals by fostering
                                meaningful connections and providing guidance to unlock their full
                                potential and navigate personal and professional development</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-social-care"></i>
                        </div>
                        <div class="service-text">
                            <h3>Social Care</h3>
                            <p> It is dedicated to enhancing the well-being and social
                                integration of vulnerable individuals and communities through
                                a range of support services and programs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
        

    <!-- Causes Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Popular Causes</p>
                <h2>Let's know about charity causes around us</h2>
            </div>
            <div class="row">
                {% for cause in courses %}
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{cause.picture.url}}" alt="Image">
                        </div>
                        <div class="blog-text">
                            <h3><a href="#">{{cause.title}}</a></h3>
                            <p>
                                {{cause.caption}}
                            </p>
                        </div>
                        <div class="progress-text d-flex justify-content-around"
                            style="display: flex; align-items: center;">
                            <h5><strong>Goal: </strong>GH₵ {{cause.targetAmount}}</h5>
                            <button type="button" class="btn btn-custom" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donate Now</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Causes End -->


    <!-- payment modal -->
    <div class="col-lg-5 payment-modal donate-form">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Make Donation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'donate_view' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="col-form-label">Amount:</label>
                                <input type="number" class="form-control" id="amount" name="amount" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Donate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of payment modal -->

        {% endblock %}
    </body>
</html>
