<!DOCTYPE html>
<html lang="en">
    {% extends 'aensonga/base.html' %}
    {% load static %}

    <body>
        {% block content %}
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Donate Now</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Donate</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        {% if messages %}
        <div id="successAlert" class="success-alert">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <!-- Donate Start -->
        <div class="container">
            <div class="donate" style="background-image: url('{% static 'img/A-ensongaHearts_51.jpg' %}')" >
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="donate-content">
                            <div class="section-header">
                                <p>Donate Now</p>
                                <h2>Let's donate to needy people for better lives</h2>
                            </div>
                            <div class="donate-text">
                                <p>
                                    Let's contribute to improving the lives of those in need by donating,
                                    as even small acts of generosity can have a profound impact on providing
                                    essential resources and creating better opportunities for a brighter future.
                                    Through our collective efforts, we can make a meaningful difference and
                                    uplift the lives of vulnerable individuals and communities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="donate-form">
                            <div>
                                <button type="button" class="btn btn-custom" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donate Now</button>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Donate End -->


            <!-- payment modal -->
    <div class="col-lg-5 payment-modal donate-form">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Make Donation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'donate_view' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="col-form-label">Amount:</label>
                                <input type="number" class="form-control" id="amount" name="amount" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Donate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of payment modal -->


        {% endblock %}
    </body>
</html>
