<!DOCTYPE html>
<html lang="en">
    {% extends 'aensonga/base.html' %}
    {% load static %}

    <body>
        {% block content %}
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Upcoming Events</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Events</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
    <!-- Event Start -->
    <div class="event">
        <div class="container">
            <div class="section-header text-center">
                <p>Upcoming Events</p>
                <h2>Be ready for our upcoming charity events</h2>
            </div>
            <div class="row">
                {% for item in events %}
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{{item.flyer.url}}" height="400" alt="Image">
                        <div class="event-content">
                            <div class="event-meta">
                                <p><i class="fa fa-calendar-alt"></i>{{item.date}}</p>
                                <p><i class="far fa-clock"></i>{{item.time}}</p>
                                <p><i class="fa fa-map-marker-alt"></i>{{item.venue}}</p>
                            </div>
                            <div class="event-text">
                                <h3>{{item.title}}</h3>
                                <p>{{item.caption}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Event End -->

        {% endblock %}
    </body>
</html>
