<!DOCTYPE html>
<html lang="en">
{% extends 'aensonga/base.html' %}
{% load static %}

<body>
    {% block content %}

    <!-- Carousel Start -->
    <div class="carousel" style="position: relative; z-index: -1;">
        <div class="container-fluid">
            <div class="owl-carousel">
                {% for item in carousel %}
                <div class="carousel-item">
                    <div class="carousel-img" style="height: 46rem;">
                        <img src="{{item.picture.url}}" alt="Image"
                            style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="carousel-text animation-container">
                        <h1 class="animated-text"
                            style="font-size: 2.5rem; position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%);">
                            {{item.title}}</h1>
                        <p style="font-size: 1.5rem; margin-bottom: 1rem; position: absolute; bottom: 0%;">
                            {{item.caption}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Carousel End -->



    {% if messages %}
    <div id="successAlert" class="success-alert">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Video Modal Start-->
    <!-- <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Video Modal End -->

    <!-- payment modal -->
    <div class="col-lg-5 payment-modal donate-form">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Make Donation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'donate_view' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="col-form-label">Amount:</label>
                                <input type="number" class="form-control" id="amount" name="amount" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Donate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of payment modal -->

    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Display the image using a standard img tag -->
                    <img style="height: 30rem;" src="{% static 'img/A-ensongaHearts_249.jpg' %}" alt="About Image"
                        class="about-img">
                </div>
                <div class="col-lg-6">
                    <div class="section-header">
                        <p>Learn About Us</p>
                        <h2>A Ghanaian non-profit charity organization</h2>
                    </div>
                    <div class="about-tab">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab-content-1" class="container tab-pane active">
                                <p>A-ensonga Hearts is a charity organization in Ghana focused on supporting needy
                                    children,
                                    particularly in the realm of early childhood education. Officially established in
                                    January 2020
                                    and registered as a non-governmental, non-profit organization in July 2021, the
                                    group aims to address
                                    the needs of vulnerable children. Over the past two years, A-ensonga Hearts has
                                    collaborated with other
                                    organizations to provide educational support for children in Ghana. Their mission is
                                    rooted in the belief
                                    that education is a transformative tool for breaking the cycle of poverty. The
                                    organization advocates
                                    for a redefined approach to philanthropy, emphasizing dynamic community mobilization
                                    to address
                                    challenges hindering the potential of young, vulnerable Ghanaian children. Their
                                    slogan, "Lighten the World with Love,"
                                    reflects their commitment to bringing joy and hope to children facing challenging
                                    circumstances.</p>
                            </div>
                            <div id="tab-content-2" class="container tab-pane fade">
                                <ul>
                                    <li>Identifying unique challenges confronting children that inhibit their potential
                                        for development.</li>
                                    <li>Mobilizing support to provide relief for vulnerable children.</li>
                                    <li>Responding to the educational needs of children in vulnerable conditions.</li>
                                </ul>
                            </div>
                            <div id="tab-content-3" class="container tab-pane fade">
                                <ul>
                                    <li>To be a leader in the provision of support to vulnerable in Ghana especially in
                                        the
                                        educational sector in Ghana in the next 20 years </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- CEO picture and recent messages -->
    <div class="container-md row-container"
        style="background: url('{% static 'img/donate.jpg' %}') center/cover no-repeat;">
        <div class="row align-items-center">
            <div class="col-md-6 left-div text-white">
                <div class="card bg-light border-10">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Meet Our CEO</strong></h3>
                        <h5 class="card-subtitle mb-4">Message From President</h5>
                        <p class="card-text">
                            {{president.message}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right-div text-center">
                <div class="card">
                    <img src="{{president.picture.url}}" alt="CEO" class="card-img-top img-fluid mt-10"
                        style="border-radius: 15rem 5rem 0 0;">
                    <div class="card-body">
                        <h3 class="card-title"><strong>{{president.name}}</strong></h3>
                        <p class="card-text">{{president.about_me}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end of message -->








    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>What We Do?</p>
                <h2>We believe that we can save more lifes with you</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-diet"></i>
                        </div>
                        <div class="service-text">
                            <h3>Clean Environment Campaign</h3>
                            <p>The Clean Environment Campaign is dedicated to promoting environmental sustainability
                                and raising awareness about the importance of a clean and healthy environment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-water"></i>
                        </div>
                        <div class="service-text">
                            <h3>Clean Water</h3>
                            <p>The Clean Water Initiative is committed to providing sustainable access to clean water,
                                strives to improve the health and well-being of communities through water sanitation
                                projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Primary Education</h3>
                            <p>A-EnsongaHearts Educational Program is dedicated to ensuring inclusive and quality
                                education for all, particularly in underserved communities,
                                to empower children with the foundational knowledge and skills for a brighter future.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>Mentorship</h3>
                            <p>
                                The Mentorship Program is designed to empower individuals by fostering
                                meaningful connections and providing guidance to unlock their full
                                potential and navigate personal and professional development</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-social-care"></i>
                        </div>
                        <div class="service-text">
                            <h3>Social Care</h3>
                            <p> It is dedicated to enhancing the well-being and social
                                integration of vulnerable individuals and communities through
                                a range of support services and programs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Facts Start -->
    <div class="facts"
        style="background-repeat: no-repeat; background-position: 10%; background-image: url('{% static 'img/A-ENSONGA-new-no-motto.png' %}'); ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i style="color: black;" class="bi bi-house-add-fill"></i>
                        <div class="facts-text">
                            <h3 style="color: black;" class="facts-plus" data-toggle="counter-up">{{facts.country}}</h3>
                            <p style="color: black;">Countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i style="color: black;" class="bi bi-r-square-fill"></i>
                        <div class="facts-text">
                            <h3 style="color: black;" class="facts-plus" data-toggle="counter-up">1</h3>
                            <p style="color: black;">Region</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i style="color: black;" class="bi bi-building-gear"></i>
                        <div class="facts-text">
                            <h3 style="color: black;" class="facts-plus" data-toggle="counter-up">{{projectCount}}</h3>
                            <p style="color: black;">Projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i style="color: black;" class="bi bi-people-fill"></i>
                        <div class="facts-text">
                            <h3 style="color: black;" class="facts-plus" data-toggle="counter-up">{{volunteer}} <i
                                    class="bi bi-plus"></i></h3>
                            <p style="color: black;">Volunteers</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i style="color: black;" class="bi bi-clipboard-heart"></i>
                        <div class="facts-text">
                            <h3 style="color: black;" class="facts-cedi" data-toggle="counter-up">{{facts.our_goal}}</h3>
                            <p style="color: black;">Our Goal</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i style="color: black;" class="bi bi-box-seam-fill"></i>
                        <div class="facts-text">
                            <h3 style="color: black;" class="facts-dollar" data-toggle="counter-up">{{facts.raised}}</h3>
                            <p style="color: black;">Raised</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->



    <!-- Project Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Popular Project</p>
                <h2>Our popular project</h2>
            </div>
            <div class="row">
                {% for project in projects %}
                <div class="col-lg-4">
                    <a href="{% url 'single' project.id %}">
                        <div class="blog-item">
                            <div class="blog-img"">
                                <img src="{{project.project_pic.url}}" alt="Image" style="height: 20rem;>
                            </div>
                            <div class="blog-text">
                                <h3><a href="#">{{project.project_name}}</a></h3>
                                <p>
                                    {{project.project_description}}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Project End -->


    <!-- Causes Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Popular Causes</p>
                <h2>Let's know about charity causes around us</h2>
            </div>
            <div class="row">
                {% for cause in courses %}
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{cause.picture.url}}" alt="Image" style="height: 20rem;>
                        </div>
                        <div class="blog-text">
                            <h3><a href="#">{{cause.title}}</a></h3>
                            <p>
                                {{cause.caption}}
                            </p>
                        </div>
                        <!-- <div class="progress-text d-flex justify-content-around"
                            style="display: flex; align-items: center;">
                            <h5><strong>Goal: </strong>GH₵ {{cause.targetAmount}}</h5>
                            <button type="button" class="btn btn-custom" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donate Now</button>
                        </div> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Causes End -->


    <!-- Donate Start -->
    <div class="donate" style="background-image: url('{% static 'img/event-2.jpg' %}'); ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="donate-content">
                        <div class="section-header">
                            <p>Donate Now</p>
                            <h2>Let's donate to needy people for better lives</h2>
                        </div>
                        <div class="donate-text">
                            <p>
                                Let's contribute to improving the lives of those in need by donating,
                                as even small acts of generosity can have a profound impact on providing
                                essential resources and creating better opportunities for a brighter future.
                                Through our collective efforts, we can make a meaningful difference and
                                uplift the lives of vulnerable individuals and communities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="donate-form">
                        <div>
                            <button type="button" class="btn btn-custom" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donate Now</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donate End -->


    <!-- Event Start -->
    <div class="event">
        <div class="container" style="z-index: -1;">
            <div class="section-header text-center">
                <p>Upcoming Events</p>
                <h2>Be ready for our upcoming charity events</h2>
            </div>
            <div class="row">
                {% for item in events %}
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{{item.flyer.url}}" height="400" alt="Image">
                        <div class="event-content">
                            <div class="event-meta">
                                <p><i class="fa fa-calendar-alt"></i>{{item.month}}</p>
                                <p><i class="far fa-clock"></i>{{item.year}}</p>
                            </div>
                            <div class="event-text">
                                <h3>{{item.title}}</h3>
                                <p>{{item.caption}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Event End -->



    <!-- Volunteer Start -->
    <div class="volunteer" style="background-image: url('{% static 'img/A-ensonga Hearts_243.jpg' %}');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="volunteer-form">
                        <form method="post" action="{% url 'become_volunteer' %}">
                            {% csrf_token %}
                            <div class="control-group">
                                <input type="text" class="form-control" placeholder="Name" name="name" id="name"
                                    required="required" />
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                                    required="required" />
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" placeholder="Why you want to become a volunteer?"
                                    name="reason" id="reason" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-custom" type="submit">Become a volunteer</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="volunteer-content">
                        <div class="section-header">
                            <p>Become A Volunteer</p>
                            <h2>Let’s make a difference in the lives of others</h2>
                        </div>
                        <div class="volunteer-text">
                            <p>Let's come together to make a positive difference in the lives of others,
                                as our collective efforts, no matter how small, can create a ripple effect
                                of kindness and contribute to building a more compassionate and supportive community for
                                everyone.
                                Each act of generosity and empathy has the power to inspire change and bring about a
                                brighter future.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Volunteer End -->


    <!-- Testimonial Start -->
    <!-- <div class="testimonial">
        <div class="container">
            <div class="section-header text-center">
                <p>Testimonial</p>
                <h2>What people are talking about our charity activities</h2>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <div class="testimonial-profile">
                        <img src="{% static 'img/testimonial-1.jpg' %}" alt="Image">
                        <div class="testimonial-name">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                        </div>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu
                            metus tortor, auctor id gravid vivera quis
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-profile">
                        <img src="{% static 'img/testimonial-2.jpg' %}" alt="Image">
                        <div class="testimonial-name">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                        </div>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu
                            metus tortor, auctor id gravid vivera quis
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-profile">
                        <img src="{% static 'img/testimonial-3.jpg' %}" alt="Image">
                        <div class="testimonial-name">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                        </div>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu
                            metus tortor, auctor id gravid vivera quis
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="contact">
        <div class="container">
            <div class="section-header text-center">
                <p>Get In Touch</p>
                <h2>Contact for any query</h2>
            </div>
            <div class="contact-img">
                <img src="{% static 'img/contacts.jpg' %}" alt="Image">
            </div>
            <div class="contact-form">
                <div id="success"></div>
                <form method="post" action="{% url 'contact_us' %}">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"
                            required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"
                            required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
                            required="required" data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" id="message" name="message" placeholder="Message"
                            required="required" data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Blog Start -->
    <div class="blog">
        <div class="container" style="z-index: -1;">
            <div class="section-header text-center">
                <p>Our Blog</p>
                <h2>Latest news & articles directly from our blog</h2>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{blog.picture.url}}" alt="Image">
                        </div>
                        <div class="blog-text">
                            <h3><a href="#">{{blog.title}}</a></h3>
                            <p>
                                {{blog.caption}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog End -->

    {% endblock %}
</body>

</html>