<!DOCTYPE html>
<html lang="en">
{% extends 'aensonga/base.html' %}
{% load static %}

<body>
    {% block content %}

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Popular Projects`</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Projects</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

<!-- Project Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Popular Project</p>
            <h2>Our popular project</h2>
        </div>
        <div class="row">
            {% for project in projects %}
            <div class="col-lg-4">
                {% if project.project_pic.url %}
                <a href="{% url 'single' project.project_name %}">
                    {% endif %}
                    <div class="blog-item">
                        {% if project.project_pic.url %}
                        <div class="blog-img">
                            <img src="{{ project.project_pic.url }}" alt="Image" style="height: 20rem;">
                        </div>
                        {% endif %}
                        <div class="blog-text">
                            <h3>
                                {% if project.project_pic.url %}
                                <a href="{% url 'single' project.project_name %}">{{ project.project_name }}</a>
                                {% else %}
                                {{ project.project_name }}
                                {% endif %}
                            </h3>
                            <p class="event-text">
                                {{ project.project_description }}
                            </p>
                        </div>
                    </div>
                    {% if project.project_pic.url %}
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Project End -->


    {% endblock %}
</body>

</html>