<!DOCTYPE html>
<html lang="en">
    {% extends 'aensonga/base.html' %}
    {% load static %}

    <body>
        {% block content %}
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Project Gallary</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


    <!-- Event Start -->
    <div class="event">
        <div class="container" style="z-index: -1;">
            <div class="section-header text-center">
                <p>Popular Project</p>
                <h2>Our popular project</h2>
            </div>
            <div class="row">
                {% for project in projects %}
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{{project.image.url}}" height="400" alt="Image">
                        <div class="event-content">
                            <div class="event-text">
                                <p>{{project.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Event End -->

        {% endblock %}
    </body>
</html>
