<!DOCTYPE html>
<html lang="en">
    {% extends 'aensonga/base.html' %}
    {% load static %}

    <body>
        {% block content %}
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Volunteer</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Volunteer</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Volunteer Start -->
        <div class="container">
            <div class="volunteer" style="background-image: url('{% static 'img/A-ensongaHearts_51.jpg' %}')">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            <form method="post" action="{% url 'become_volunteer' %}">
                                {% csrf_token %}
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Name" name="name" id="name"
                                        required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                                        required="required" />
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="Why you want to become a volunteer?"
                                        name="reason" id="reason" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Become a volunteer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p>Become A Volunteer</p>
                                <h2>Let’s make a difference in the lives of others</h2>
                            </div>
                            <div class="volunteer-text">
                                <p>Let's come together to make a positive difference in the lives of others,
                                    as our collective efforts, no matter how small, can create a ripple effect
                                    of kindness and contribute to building a more compassionate and supportive community for
                                    everyone.
                                    Each act of generosity and empathy has the power to inspire change and bring about a
                                    brighter future.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Volunteer End -->

        {% endblock %}
    </body>
</html>
