<!-- volunteer_confirmation_email.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Volunteer Confirmation</title>
</head>
<body>
    <p>Dear {{ name }},</p>
    <p>Thank you for expressing your interest in volunteering with us! 
        Your commitment and willingness to contribute are highly valued and 
        could make a significant impact on our mission. 
        We sincerely appreciate your support, and we will be reaching out 
        to you soon for further discussions..</p>
        <p>Best regards,<br>{{ company_name }}</p>
    <!-- You can customize the content as needed -->
</body>
</html>
